  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  .bg {
    background: linear-gradient(180deg, #3333a3 5.09%, #121212 33.4%);
  }

  .card {
    background-color: rgba(255, 255, 255, 0.04);
  }

  body {
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  ::-webkit-scrollbar {
    background-color: white;
    height: 3px;
    width: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #3333a3;
  }

  .dashboard::-webkit-scrollbar {
    display: none;
  }

  .active {
    color: white;
  }

  .playlist {
    background: linear-gradient(180deg, #DEF628 5.09%, #121212 43.28%);

  }